

.videoWithQuery{
    height: 150px;
    width: 150px;
}


@media only screen and (max-width: 600px) {
    /* Your styles for small devices here */
    .videoWithQuery{
        height: 80px;
        width: 80px;
    }
  }


/* Large devices (desktops, above 768px) */
@media only screen and (min-width: 768px) {
    .videoWithQuery{
        height: 150px;
        width: 150px;
    }
  }