*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: 'Roboto', sans-serif;

}
.fi{
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 3px;
}

/* @font-face {
  font-family: "CustomFont";
    src:url("../src/NotoColorEmoji-Regular.ttf");
    letter-spacing: -0.5px;

} */

@font-face {
  font-family: 'NotoEmoji';
  src: url('../src/NotoColorEmoji-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'TwitterColorEmoji';
  src: url('../src/TwitterColorEmoji-SVGinOT.ttf') format('truetype');
}


@font-face {
  font-family: 'NotoColorEmoji';
  src: url('../src/NotoColorEmoji.ttf') format('truetype');
}




/* @font-face {
  font-family: 'NotoColorEmoji';
  src: url('gs://keen-diode-344417.appspot.com/NotoColorEmoji.ttf') format('truetype');
} */

p{
  font-family: 'NotoColorEmoji', "Roboto" ;
}



html{
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 5px;
  width: 0px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
  /* background-color: hsla(197, 71%, 73%, 0.050); */
}
  ::-webkit-scrollbar-thumb {
  background: #888; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
}

